<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>
    <link rel="stylesheet" type="text/css" href="/js/plugins/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/js/plugins/webuploader/YwWebUpload.css">
</head>
<body>
<div class="qm_dialog" id="uploader">
    <div style="width:100%;height:100%;position:absolute;">
        <div class="dialog_content att_upload_wrap dialog_upload">
					<span class="upload_btn_center" style="top: 25px; left: 25px;">
							<div id="picker">
                                选择文件
							</div>
					</span>
            <div class="dialog_function">
                <div class="dialog_info"></div>
                <div class="dialog_bg">
                    <ul class="dialog_att_list"></ul>
                </div>
            </div>
        </div>
        <div class="dialog_operate">
            <a class="btn_blue">确定</a>&nbsp;
            <a class="btn_gray">取消</a>
        </div>
    </div>
    <div class="webupload_tips"></div>
</div>
<!-- 文件模板 -->
<div class="raw_type" style="display: none">
    <img src="/js/plugins/webuploader/fileicon/">
    <a class="right icon_att icon_att_del ctrl_del" title="取消"></a>
    <a class="right icon_att icon_att_pause ctrl_pause" title="暂停"></a>
    <span class="right icon_att icon_att_finish ctrl_finish" title="完成">

	</span>
    <div class="file_wrap">
        <div class="ft_l_listItem_filename">
            <span class="ft_j_filename">  文件名 </span>
        </div>
        <div class="probar">
            <div class="probar_wrapper">
                <div class="probar_bg"></div>
                <div class="probar_valueOutter">
                    <div class="probar_value" style="width: 0%;"></div>
                </div>
            </div>
            <span class="ft_l_listItem_info gray"
                  style="width: auto; padding: 0">上传中</span>
            <span class="probar_tips">
                <span class="ctrl_time gray">
                    <span ui-type="speed">0K/s</span>&nbsp;
                    <span ui-type="time">00:00:00</span>
                </span>
            </span>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="/js/plugins/webuploader/webuploader.js"></script>
<script type="text/javascript" src="/js/plugins/webuploader/YwWebUpload.js?t=2017122"></script>
<script type="text/javascript" th:inline="javascript">
    var parentId = [[${parentId}]];
    $(function () {
        var options = {
            ctx: '/common',
            onOk: function (attachmentArray) {
                var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                parent.layer.close(index);
                parent.reloadFile(parentId);
            },
            formData: {
                parentId: parentId
            },
            onCancel: function () {
                var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                parent.layer.close(index);
                parent.reloadFile(parentId);
            }
        };
        $.ywWebUpload(options);
    });
</script>
</body>
</html>