<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">欢迎使用上海尧伟建设工程有限公司--日常办公管理系统</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;系统简介</h3>
        <ul>
            <li>日常办公管理系统旨在为公司打造高效管理办公信息化平台, 适应公司管理办公水平快速提升的需求,提供随时随地管理、办公、学习、沟通、高效等好处。</li>
            <li>目前仅开发了文件管理模块</li>
        </ul>
    </div>
</div>
</body>
</html>